.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* sheared style  */
*{
  margin: 0%;
}
    .display-flex{
        display: flex;
    }

    header ,main{
       max-width: 1140px;
    margin: 0 auto ;
    }
    .butto{
      background-color:rgba(233, 90, 8, 1);
      color: rgba(255, 255, 255, 1);
      padding: auto 50px;
      font-size: 16px;
      font-weight:600 ;
      width: 270px;
      height: 50px;
      border: none;
    }

/* nav */
.nav-tittle{
    justify-content: space-between;
    align-items: center; 
}

  .nav-item{ 
    
    text-decoration: none;
} 
.nav-list{
    list-style: none;
  margin-right: 48px;
} 
.nav-cart{
  list-style: none;
  margin-right: 48px;
}
.bennar{
 margin-top: 109px;
 justify-content:space-between;
 border: 1px;
}
.bennar-contant{
 margin-top: 117px;
}
.bennar-tittle , .bennar-sub-tittle{
  font-size: 4.0625rem;
  font-weight:bold ;
  color: rgba(233, 90, 8, 1);

}


.bennar-details{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  font-weight:400;
  width: 570px;
  max-height: 108px;
}
 .bennar-image{ 
 max-height:355px;
  width: 570px;
  margin-top: 106px;
}
/* main */
.plants-tittle{
  font-size:50px ;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  margin-top: 120px;
  text-align: center;
}
.plants-details{
  font-size: 22px;
  font-weight:400 ;
  color:rgba(0, 0, 0, 0.5) ;
  text-align: center;
  max-width: 888px;
margin-left: 140px;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card-price {
  color:rgba(17, 17, 17, 1) ;
  font-size: 22px;
  font-weight:bold ;
  text-align: center;
  
}
.card-tittle{
  color:rgba(17, 17, 17, 1) ;
  font-size:22px ;
  font-weight:500;
text-align: center;
}
/* Plants Lover Section  */
.plants-lover{
  display: flex;
  margin-top: 210px;
  justify-content: space-between;
}
.Plants-Lover-Section-tittle{
  font-size:50px ;
  font-weight: bold;
  color: rgb(10, 10, 10);
  max-width: 540px;
  max-height: 137px;
  margin-left: 80px;
}
.Plants-Lover-Section-details{
  font-size:22px ;
  font-weight:400 ;
   margin-left:63px;
   color: rgba(0, 0, 0, 0.5);
   margin-top: 20px;
    max-width: 540px;
}
.list-lover{
  margin-top: 20px
}
/* Challenge */
.Challenge-titlle{
font-size:50px ;
font-weight:bold;

}
.Challenge-details{
font-size: 22px;
font-weight:400 ;
color: rgba(0, 0, 0, 0.5);
max-width: 888px;
margin-left: 140px;

}
.Challenge{
  text-align: center;
  margin-top: 133.87px;
  margin-bottom: 119px;
  
}


.Father{
  display: flex;
  justify-content: space-between;
}

.child-link {
  font-size:16px ;
  font-weight:600;
color: rgba(255, 255, 255, 1);
margin-left: 110px;
}
.chilld-tittle{
  margin-bottom: 2px;
}

.chilld-one{
background-image:linear-gradient(rgba(0, 0, 0, 0.4)),
 url(assets/deal-bloom.png);
   background-size: cover;

padding: 25px;
color: rgba(255, 255, 255, 1);
font-size:20px;
font-weight:bold;
margin-bottom: 25px;
border-radius: 14px;
width:367px ;
height:181px;
align-content: center;


}
.chilld-two{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
  url(assets/deal-ana.png);
  background-size: cover;
  padding: 25px;
color: rgba(255, 255, 255, 1);
font-size:20px;
font-weight:bold;
border-radius: 14px;
width:367px ;
height:172px;
align-content: center;


}
.brother{
  background-image:linear-gradient(rgba(0, 0, 0, 0.4)),
   url(assets/deal-zabo.png);
   background-size: cover;
  padding: 25px;
color: rgba(255, 255, 255, 1);
font-size:40px;
font-weight:bold;
border-radius: 14px;
align-content: center;
width: 653px;
height:430px.13px;
}
.brother-tittle{
  margin-bottom: 2px;
}

.brother-link{

font-size:28px ;
  font-weight:600;
color: rgba(255, 255, 255, 1);
margin-left: 230px;
}
/* join */

.join{
  background-image:linear-gradient(rgba(7, 51, 79, 0.4)),
 url(assets/news-letter-bg.png);
  background-size: cover;
  padding: 199px 305px 193px;
  margin-top: 120.87px;

}

.join-tittle{
  font-size:50px ;
  font-weight: bold;
  color: rgba(255, 255, 255, 1); 
  text-align: center;

  
}
.join-form{
padding: 21px 540px 19px 20px;
border: none;
}
 

.join-details{
  text-align: center;
  margin-top: 23px;
}
.sub-butto{
   background-color:rgba(233, 90, 8, 1);
      color: rgba(255, 255, 255, 1);
      padding: 19px 53.5px;
      font-size: 16px;
      font-weight:600 ;
      border: none;
}


/* responsive media  */
@media screen and (max-width:390px) {
   /* nav  */
  .nav-list{
    display: none;
  }
  .nav-logo{
    max-width:63px ;
    min-height:38px ;
    margin-left: 16px;
  }

    .bennar{
      flex-direction: column-reverse;
      margin: none;
      margin-top:0%;
    }
  .bennar-image{
    width:393.18px;
     max-height:245px; 
  margin-top: 0%;
  margin-right: 0%;

  }
  .bennar-details{
    width: 360px;
    font-size:14px;
    font-weight:400;

  }
  .bennar-tittle , .bennar-sub-tittle{
    font-size:24px;
    font-weight: bold;
    max-width: 361px;
    margin-left:1px ;
    margin-right:16px ;
  }
  .bennar-contant{
    margin-top: 0%;
    margin-left:16px ;
    margin-right:17px ;
   
  }
  /* plant  */
  .plants-tittle{
    font-size: 24px ;
    font-weight: bold;
    text-align: center;
  }
  .plants-details{
    font-size: 14px;
    font-weight:400 ;
    margin: 0px auto;
    justify-content: center;
    max-width: 336px;

  }

  /* card section  */
  .card-container{
    margin-top: 28px;
     margin-left:16px ;
    margin-right:15px ;
display: grid;
    grid-template-columns: repeat(2 ,4fr);


  }
  
  
  .card{
      display: grid;
    grid-template-columns: repeat(4 ,2fr); 
    display: flex;
    flex-wrap: wrap;
   
   max-width:171px;
   
    gap: 20px;
  }
.card-image{
  max-width: 100%;
}
.card-tittle{
  margin: 0% auto ;
}
.card-price{
 margin: 0% auto ;
}
/* Plants-Lover-Section*/
.plants-lover{
  flex-direction:column;
  margin-top: 41.5px;
}
.Plants-Lover-Section-tittle{
  font-size:24px ;
  font-weight:bold;
  margin-left:17px;

}
.Plants-Lover-Section-details{
  margin-left:15px;
  max-width:361px ;
  font-size:14px ;
  font-weight:400 ;
  padding-left:20px;
 

}
.Plants-Lover-Section-image{
  max-width:358px ;
  max-height:396px ;
  margin-left: 17px;
  margin-left: 18px;
}

 /* .Challenge */
 .Challenge-titlle{
   font-size: 24px;
  font-weight: bold;
   max-width: 393px;
   height: 33px;
 }
.Challenge-details{
  margin-left: 13px;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 400;
  max-width: 336px;
  
}
.Father{
  flex-direction: column;
   
}
.brother-tittle{
  margin-left: 80px;
  font-size: 20px;
  font-weight:bold;
 
}
.brother{
border-radius: 14px;
align-content: center;
width: 361px;
height:177px;
padding:5px ;
margin-left: 16px;
margin-right: 16px;
margin-top: 20px;
}
.brother-link{
  margin-left: 130px;
  font-size: 16px;
}
.chilld-one , .chilld-two{
  max-width:366.22px ;
  max-height:206px ;
  padding:1px;
  margin-left: 16px;
  margin-right: 16px;
}
.chilld-tittle{
  margin-left: 40px;
   font-size: 20px;
  font-weight:bold;
   margin-left: 80px;
}

.child-link{
  margin-left: 140px;
  font-size: 16px;
  padding-top: 20px;
  margin-top: 20px;
}
/* join  */
.join{
align-content: center;
 padding: 110.5px 36px 64.5px;
 max-width: 100%;
}
.join-details{
  display: flex;
}
.join-tittle{
  font-size:20px ;
  font-weight: bold;

}
.join-form{
padding: 20px 40px 19px 20px; 
border: none;
max-width:218px ;
max-height: 50px;
}

.sub-butto{
      padding:19px 12px ;
      font-size: 16px;
      font-weight:600 ;
      border: none;
}

}